/* POST SECTION START! */
#post_1 {
	background-color: rgb(255, 255, 255);	
	padding: 25px 1px;
	display: block;
	margin: 100px 0px 50px 50px;
	width: 40%;
	border-radius: 30px;
	float: left;
	
}

div.post h2 {
	color: rgb(0, 0, 0);
	text-align: center;
}


hr {
	width: 50%;
}

p.post {
	margin-left: 60px;
	margin-right: 60px;
	line-height: 2em;
	text-align: center;
}

footer.clear {
	clear: both;
}

/* POST SECTION END! */